@import "tailwindcss";

@theme {
  --color-gym-red: #EE0000;
}

/* --- THE SECRET SARE --- */
/* This tells Tailwind v4 that the "dark" variant is triggered by the .dark class */
@custom-variant dark (&:where(.dark, .dark *));

@layer base {
  :root {
    --background: white;
    --foreground: #18181b; /* zinc-900 */
  }

  .dark {
    --background: #050505;
    --foreground: white;
  }

  body {
    background-color: var(--background);
    color: var(--foreground);
    transition: background-color 0.5s ease, color 0.5s ease;
  }
}